.Pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.GroupButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.Button {
  --button-size: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--button-size);
  height: var(--button-size);
  background-color: transparent;
  border-radius: 50%;
  font-size: clamp(15.75px, 2.7vw, 18px);
  box-sizing: border-box;
}

.Button:hover {
  cursor: pointer;
  background-color: #2A2A2D;
}

.Button:active {
  background-color: #2A2A2D;
}

.Selected {
  background-color: #2A2A2D;
  cursor: default;
}

.Selected:hover {
  cursor: default;
}

.Icon {
  width: clamp(10.5px, 2.34375vw, 12px);
  height: clamp(15.75px, 2.34375vw, 18px);
}

@media screen and (max-width: 768px) {
  .Pagination {
    gap: clamp(10px, 1.953125vw, 15px);
  }

  .GroupButton {
    gap: clamp(10px, 1.953125vw, 15px);
  }

  .Button {
    --button-size: clamp(40px, 6.51041667vw, 50px);
  }
}

@media screen and (max-width: 425px) {
  .Pagination {
    gap: clamp(5px, 2.352941vw, 10px);
  }

  .GroupButton {
    gap: clamp(5px, 2.352941vw, 10px);
  }
}
