.Pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.GroupButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.PaginationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  font-size: 18px;
}

.PaginationButton:hover {
  cursor: pointer;
  background-color: #2A2A2D;
}

.Selected {
  background-color: #2A2A2D;
  cursor: default;
}

.Selected:hover {
  cursor: default;
}

.PaginationButtonIcon {
  width: 12px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .Pagination {
    gap: 10px;
  }

  .GroupButton {
    gap: 10px;
  }

  .PaginationButton {
    width: calc(50px - (768px - 100vw) * 25 / 343);
    height: calc(50px - (768px - 100vw) * 25 / 343);
    font-size: 10px;
  }
}

@media screen and (max-width: 425px) {
  .Pagination {
    align-self: start;
    padding-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  .Pagination {
    gap: 5px;
  }

  .GroupButton {
    gap: 5px;
  }
}



