.Pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.GroupButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.PaginationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  aspect-ratio: 1/1;
  background-color: #1E1E1E;
  border-radius: 50%;
}

.PaginationButton:hover {
  cursor: pointer;
  background-color: #2A2A2D;
}

.Selected {
  background-color: #2A2A2D;
  cursor: default;
}

.Selected:hover {
  cursor: default;
}

.PaginationButtonIcon {
  max-width: 12px;  
}



