.Paragraph {
  --font-size: clamp(14px, 2.4vw, 16px);
  font-family: "Poppins-Medium", "Arial", sans-serif;
  color: #ffffff;
  margin: 0;
  font-size: var(--font-size);
}

.Big {
  --font-size: clamp(16px, 2.5vw, 20px);
}

.Small {
  --font-size: clamp(12px, 2.2vw, 14px);
}