.Input {
  max-width: 320px;
  background-color: #645F5F;
  color: #000000;
  font-family: "Poppins-Regular", "Arial", sans-serif;
  border-radius: 30px;
  padding: 10px;
  color: #FFFFFF;
  border: none
}