.CryptoModalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding: 0 25px 15px;
}

.CryptoModalSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 22px;
}

.CryptoModalButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  padding: 0 20px;
  width: 100%;
}

.CryptoModalButton {
  width: 40%;
}

.CryptoModalCenter {
  align-self: center;
}
