.CryptoSystemMessage {
  display: flex;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-size: clamp(14px, 2.4vw, 16px);
}