.Counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50%;
  background-color: #645F5F;
  border-radius: 30px;
  padding: 5px;
}

.CounterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1 / 1;
  font-size: 20px;
  line-height: 1;
  border-radius: 50%;
  padding: 0;
}

.CounterInput {
  max-width: 25%;
  text-align: center;
  background-color: #645F5F;
  font-size: 20px;
  border: none;
}

.CounterInput:focus {
  outline: none;
}