.Counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 150px;
  width: 100%;
  background-color: #645F5F;
  border-radius: 30px;
  padding: 5px;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1 / 1;
  font-family: "Poppins-Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  border-radius: 50%;
  padding: 0;
}

.Input {
  max-width: 30%;
  text-align: center;
  background-color: #645F5F;
  font-size: 20px;
  border: none;
  color: #FFFFFF;
  font-family: "Poppins-Regular", "Arial", sans-serif;
}

.Input:focus {
  outline: none;
}