.FilterButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.Icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 350px) {
  .FilterButton {
    border-radius: 50%;
  }
}