.SliderContainer {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 60%;
}

.SliderWrapper {
  width: calc(100% + 20px);
  transform: translateX(-10px);
  position: relative;
}

.Slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  padding: 0;
  margin: 0;
  background: transparent;
  border-radius: 2px;
}

.Slider:focus {
  outline: none;
}

.SliderTrack {
  background: linear-gradient(
    to right,
    #50A542 0%,
    #50A542 var(--progress),
    #645F5F var(--progress),
    #645F5F 100%
  );
}

.SliderThumb::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12), 0px 6px 13px rgba(0, 0, 0, 0.12);
}

.SliderThumb::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 4px;
  background: #FFFFFF;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12), 0px 6px 13px rgba(0, 0, 0, 0.12);
}

.SliderThumb::-webkit-slider-thumb:hover {
  border: 2px solid #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
  cursor: pointer;
}

.SliderThumb::-webkit-slider-thumb:active {
  border: 2px solid #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
  cursor: pointer;
}

.SliderThumb::-moz-range-thumb:hover {
  border: 2px solid #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
  cursor: pointer;
}

.SliderThumb::-moz-range-thumb:active {
  border: 2px solid #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
  cursor: pointer;
}

.SliderTooltip {
  position: absolute;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -24px;
  padding: 5px;
  width: 20px;
  height: 15px;
  border-radius: 5px;
  background-color: #645F5F;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Poppins-Regular", "Arial", sans-serif;
  transition: 0.2s ease-in-out transform;
  text-align: center;
}