.CryptoChatButton {
  --button-size: 80px;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  right: 20px;
  pointer-events: auto;
  border-radius: 50%;
  background-color: #3A3A3D;
  border: none;
  width: var(--button-size);
  height: var(--button-size);
  padding: 10px;
  z-index: 5;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
}

.CryptoChatButton:hover {
  background-color: #5A5A5F;
}

.CryptoChatButton:active {
  background-color: #5A5A5F;
  border: none;
}

.CryptoChatButton:focus {
  outline: none;
}

.Icon {
  --icon-size: 35px;

  max-width: var(--icon-size);
  max-height: var(--icon-size);
}

@media screen and (min-width: 1280px) {
  .CryptoChatButton {
    right: calc((100vw - 1280px) / 2 + 20px);
  }
}

@media screen and (max-width: 768px) {
  .CryptoChatButton {
    --button-size: clamp(60px, 10.41667vw, 80px);
    right: clamp(12px, 2.6041667, 20px);
  }

  .Icon {
    --icon-size: clamp(24px, 4.557291667vw, 35px);
  }
}
