.CryptoChatButton {
  --button-size: 80px;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  right: 20px;
  pointer-events: auto;
  border-radius: 50%;
  background-color: #3A3A3D;
  border: none;
  width: var(--button-size);
  height: var(--button-size);
  padding: 10px;
  z-index: 5;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
}

.CryptoChatButton:hover {
  background-color: #5A5A5F;
}

.CryptoChatButton:active {
  background-color: #5A5A5F;
  border: none;
}

.CryptoChatButton:focus {
  outline: none;
}

.Icon {
  --icon-size: 35px;

  max-width: var(--icon-size);
  max-height: var(--icon-size);
}

@media screen and (min-width: 1280px) {
  .CryptoChatButton {
    right: calc((100vw - 1280px) / 2 + 20px);
  }
}

@media screen and (max-width: 768px) {
  .CryptoChatButton {
    --button-size: calc(80px - (768px - 100vw) * 20 / 343);
    right: calc(20px - (768px - 100vw) * 12 / 343);
  }

  .Icon {
    --icon-size: calc(35px - (768px - 100vw) * 11 / 343);
  }
}

@media screen and (max-width: 425px) {
  .CryptoChatButton {
    --button-size: 60px;
    right: 5px;
  }

  .Icon {
    --icon-size: 24px;
  }
}