.CryptoFormModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  width: 25vw;
  padding: 0 25px 15px;
}

@media screen and (max-width: 1024px) {
  .CryptoFormModal {
    width: 35vw;
  }
}

@media screen and (max-width: 768px) {
  .CryptoFormModal {
    width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  .CryptoFormModal {
    width: 50vw;
  }
}

@media screen and (max-width: 425px) {
  .CryptoFormModal {
    width: 60vw;
  }
}

.CryptoModalSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 22px;
}

.CryptoModalButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  padding: 0 20px;
  width: 100%;
}

.CryptoModalButton {
  width: 40%;
}

.CryptoModalCenter {
  align-self: center;
}
