.CryptoChatFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 12px;
  width: 100%;  
  margin-top: auto;
  padding: 0;
}

.CryptoChatButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
}