.CryptoChatFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 12px;
  width: 100%;  
  margin-top: auto;
  padding: 0;
}

.Input {
  background-color: #645F5F;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16.5px 12px;
  width: 80%;
  box-sizing: border-box;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.Icon {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 650px) {
  .Button {
    padding: 10px;
  }

  .Icon {
    width: 30px;
    height: 30px;
  }

  .Input {
    padding: 13.75px 10px;
  }
}