html, body {
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

@supports (-moz-appearance: none) {
  html, body {
    scrollbar-width: thin;
    scrollbar-color: #555555 #1E1E1E;
  }
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
  background: #1E1E1E;
}

body::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 20px;
}

body::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #777777;
}

body::selection {
  color: #FFFFFF;
  background-color: #3F3F3F;
}

#root {
  position: relative;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  max-width: 1080px;
  box-sizing: border-box;
}
