.CryptoChatModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 60vw;
  max-width: 768px;
  padding: 10px 20px;
}

@media screen and (max-width: 650px) {
  .CryptoChatModal {
    width: 80vw;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .CryptoChatModal {
    width: 100%;
  }
}